In [ ]:
import pandas as pd

# Flow:

# Climate Change 
1. Read the Climate Change csv
2. Drop unwanted columns
3. Split county and state names
4. sextract the climate file

# Voting Scenario
1. Read the Votes File
2. Drop unwanted columns
3. Save data

#  Climate Disasters
1. Read the climate disaster file
2. Index the columns
3. Create a new column for event count
4. Add the events from each column
5. Group the event count by state and state name

In [15]:
data1=pd.read_csv('C:\\Users\\aksha\\Desktop\\tableau\\elections\\climate.csv')
data1.head()

,GeoType,GEOID,GeoName,TotalPop,discuss,discussOppose,CO2limits,CO2limitsOppose,trustclimsciSST,trustclimsciSSTOppose,...,harmUS,harmUSOppose,devharm,devharmOppose,futuregen,futuregenOppose,harmplants,harmplantsOppose,timing,timingOppose
0,County,1001,"Autauga County, Alabama",36233,25.075,40.609,58.696,40.131,64.919,33.163,...,48.382,40.019,52.221,33.026,59.229,27.283,58.152,28.438,41.892,57.731
1,County,1003,"Baldwin County, Alabama",133267,28.486,35.799,58.028,40.916,63.698,34.479,...,48.515,42.492,52.603,34.913,60.562,28.303,60.107,28.686,41.069,58.294
2,County,1005,"Barbour County, Alabama",18836,26.789,41.481,68.756,29.236,67.677,27.542,...,56.352,28.493,59.725,22.312,65.669,17.577,65.774,18.298,52.687,46.174
3,County,1007,"Bibb County, Alabama",15683,24.599,41.465,58.667,39.604,60.916,35.731,...,48.915,38.300,51.645,31.774,58.673,26.459,58.194,27.192,43.546,55.595
4,County,1009,"Blount County, Alabama",39052,25.467,39.748,57.519,41.928,62.378,37.096,...,46.168,44.430,49.821,37.235,57.513,31.059,56.507,31.358,38.667,61.301

In [16]:
climate_final=data1.drop(data1.columns[[0, 1, 4,5,6,7,8,9,10,11,12,13,14,15,16,17,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37]], axis=1)

climate_final['county'], climate_final['state'] = zip(*climate_final['GeoName'].apply(lambda x: x.split(', ', 1)))
climate_final=climate_final[['state','county','happeningOppose','happening','TotalPop']]

climate_final.to_csv('C:\\Users\\aksha\\Desktop\\dash\\belief.csv')
climate_final.head()

     state          county  happeningOppose  happening  TotalPop
0  Alabama  Autauga County           19.201     58.996     36233
1  Alabama  Baldwin County           20.735     59.902    133267
2  Alabama  Barbour County           10.061     67.735     18836
3  Alabama     Bibb County           18.032     58.421     15683
4  Alabama   Blount County           23.721     55.893     39052

In [17]:
data2=pd.read_csv('C:\\Users\\aksha\\Desktop\\tableau\\elections\\vote_results.csv')
data2.head()

,votes_dem,votes_gop,total_votes,percent_dem,percent_gop,diff,per_point_diff,state_abbr,GeoName,combined_fips
0,93003,130413,246588,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2290
1,5908,18110,24661,0.239569,0.734358,"12,202",49.48%,AL,Autauga County,1001
2,18409,72780,94090,0.195653,0.773515,"54,371",57.79%,AL,Baldwin County,1003
3,4848,5431,10390,0.466603,0.522714,583,5.61%,AL,Barbour County,1005
4,1874,6733,8748,0.214220,0.769662,"4,859",55.54%,AL,Bibb County,1007

In [18]:
county_results=data2.drop(data2.columns[[0, 1,2,5,6,9]], axis=1)
county_results.head()

   percent_dem  percent_gop state_abbr         GeoName
0     0.377159     0.528870         AK          Alaska
1     0.239569     0.734358         AL  Autauga County
2     0.195653     0.773515         AL  Baldwin County
3     0.466603     0.522714         AL  Barbour County
4     0.214220     0.769662         AL     Bibb County

In [19]:
county_results.to_csv('C:\\Users\\aksha\\Desktop\\dash\\county_results.csv')

In [35]:
events=pd.read_csv('C:\\Users\\aksha\\Desktop\\dash\\events.csv')

In [36]:
events.head

<bound method NDFrame.head of       year State Name state  drought  flooding  freeze  severe storm  \
0     1980     Alaska    AK        0         0       0             0
1     1981     Alaska    AK        0         0       0             0
2     1982     Alaska    AK        0         0       0             0
3     1983     Alaska    AK        0         0       0             0
4     1984     Alaska    AK        0         0       0             0
5     1985     Alaska    AK        0         0       0             0
6     1986     Alaska    AK        0         0       0             0
7     1987     Alaska    AK        0         0       0             0
8     1988     Alaska    AK        0         0       0             0
9     1989     Alaska    AK        0         0       0             0
10    1990     Alaska    AK        0         0       0             0
11    1991     Alaska    AK        0         0       0             0
12    1992     Alaska    AK        0         0       0             0
13    1993     Alaska    AK        0         0       0             0
14    1994     Alaska    AK        0         0       0             0
15    1995     Alaska    AK        0         0       0             0
16    1996     Alaska    AK        0         0       0             0
17    1997     Alaska    AK        0         0       0             0
18    1998     Alaska    AK        0         0       0             0
19    1999     Alaska    AK        0         0       0             0
20    2000     Alaska    AK        0         0       0             0
21    2001     Alaska    AK        0         0       0             0
22    2002     Alaska    AK        0         0       0             0
23    2003     Alaska    AK        0         0       0             0
24    2004     Alaska    AK        0         0       0             0
25    2005     Alaska    AK        0         0       0             0
26    2006     Alaska    AK        0         0       0             0
27    2007     Alaska    AK        0         0       0             0
28    2008     Alaska    AK        0         0       0             0
29    2009     Alaska    AK        0         0       0             0
...    ...        ...   ...      ...       ...     ...           ...
1946  1988    Wyoming    WY        1         0       0             0
1947  1989    Wyoming    WY        0         0       0             0
1948  1990    Wyoming    WY        0         0       0             0
1949  1991    Wyoming    WY        0         0       0             0
1950  1992    Wyoming    WY        0         0       0             0
1951  1993    Wyoming    WY        0         0       0             0
1952  1994    Wyoming    WY        0         0       0             0
1953  1995    Wyoming    WY        0         0       0             0
1954  1996    Wyoming    WY        0         0       0             0
1955  1997    Wyoming    WY        0         0       0             0
1956  1998    Wyoming    WY        0         0       0             0
1957  1999    Wyoming    WY        0         0       0             0
1958  2000    Wyoming    WY        0         0       0             0
1959  2001    Wyoming    WY        0         0       0             0
1960  2002    Wyoming    WY        1         0       0             0
1961  2003    Wyoming    WY        0         0       0             0
1962  2004    Wyoming    WY        0         0       0             0
1963  2005    Wyoming    WY        0         0       0             0
1964  2006    Wyoming    WY        1         0       0             0
1965  2007    Wyoming    WY        1         0       0             0
1966  2008    Wyoming    WY        0         0       0             1
1967  2009    Wyoming    WY        0         0       0             0
1968  2010    Wyoming    WY        0         0       0             0
1969  2011    Wyoming    WY        0         0       0             1
1970  2012    Wyoming    WY        1         0       0             0
1971  2013    Wyoming    WY        1         0       0             0
1972  2014    Wyoming    WY        0         0       0             1
1973  2015    Wyoming    WY        0         0       0             0
1974  2016    Wyoming    WY        0         0       0             1
1975  2017    Wyoming    WY        0         0       0             0

      tropical cyclone  wildfire  winter storm
0                    0         0             0
1                    0         0             0
2                    0         0             0
3                    0         0             0
4                    0         0             0
5                    0         0             0
6                    0         0             0
7                    0         0             0
8                    0         0             0
9                    0         0             0
10                   0         0             0
11                   0         0             0
12                   0         0             0
13                   0         0             0
14                   0         0             0
15                   0         0             0
16                   0         0             0
17                   0         0             0
18                   0         0             0
19                   0         0             0
20                   0         0             0
21                   0         0             0
22                   0         1             0
23                   0         1             0
24                   0         0             0
25                   0         0             0
26                   0         1             0
27                   0         1             0
28                   0         0             0
29                   0         1             0
...                ...       ...           ...
1946                 0         0             0
1947                 0         0             0
1948                 0         0             0
1949                 0         0             0
1950                 0         0             0
1951                 0         0             0
1952                 0         0             0
1953                 0         0             0
1954                 0         0             0
1955                 0         0             0
1956                 0         0             0
1957                 0         0             0
1958                 0         1             0
1959                 0         0             0
1960                 0         0             0
1961                 0         0             0
1962                 0         0             0
1963                 0         0             0
1964                 0         1             0
1965                 0         0             0
1966                 0         0             0
1967                 0         0             0
1968                 0         0             0
1969                 0         0             0
1970                 0         1             0
1971                 0         0             0
1972                 0         0             0
1973                 0         1             0
1974                 0         1             0
1975                 0         0             0

[1976 rows x 10 columns]>

In [37]:
events.columns

Index(['year', 'State Name', 'state', 'drought', 'flooding', 'freeze',
       'severe storm', 'tropical cyclone', 'wildfire', 'winter storm'],
      dtype='object')

In [38]:
events['event_count']=events.ix[:,2:].sum(axis=1)

In [39]:
events.set_index(['year','state','drought','flooding','freeze','severe storm','tropical cyclone','wildfire','winter storm'])

,,,,,,,,,State Name,event_count
year,state,drought,flooding,freeze,severe storm,tropical cyclone,wildfire,winter storm,,
1980,AK,0,0,0,0,0,0,0,Alaska,0
1981,AK,0,0,0,0,0,0,0,Alaska,0
1982,AK,0,0,0,0,0,0,0,Alaska,0
1983,AK,0,0,0,0,0,0,0,Alaska,0
1984,AK,0,0,0,0,0,0,0,Alaska,0
1985,AK,0,0,0,0,0,0,0,Alaska,0
1986,AK,0,0,0,0,0,0,0,Alaska,0
1987,AK,0,0,0,0,0,0,0,Alaska,0
1988,AK,0,0,0,0,0,0,0,Alaska,0
1989,AK,0,0,0,0,0,0,0,Alaska,0
1990,AK,0,0,0,0,0,0,0,Alaska,0
1991,AK,0,0,0,0,0,0,0,Alaska,0
1992,AK,0,0,0,0,0,0,0,Alaska,0
1993,AK,0,0,0,0,0,0,0,Alaska,0
1994,AK,0,0,0,0,0,0,0,Alaska,0
1995,AK,0,0,0,0,0,0,0,Alaska,0
1996,AK,0,0,0,0,0,0,0,Alaska,0
1997,AK,0,0,0,0,0,0,0,Alaska,0
1998,AK,0,0,0,0,0,0,0,Alaska,0
1999,AK,0,0,0,0,0,0,0,Alaska,0
2000,AK,0,0,0,0,0,0,0,Alaska,0
2001,AK,0,0,0,0,0,0,0,Alaska,0
2002,AK,0,0,0,0,0,1,0,Alaska,1
2003,AK,0,0,0,0,0,1,0,Alaska,1
2004,AK,0,0,0,0,0,0,0,Alaska,0
2005,AK,0,0,0,0,0,0,0,Alaska,0
2006,AK,0,0,0,0,0,1,0,Alaska,1
2007,AK,0,0,0,0,0,1,0,Alaska,1
2008,AK,0,0,0,0,0,0,0,Alaska,0
2009,AK,0,0,0,0,0,1,0,Alaska,1
...,...,...,...,...,...,...,...,...,...,...
1988,WY,1,0,0,0,0,0,0,Wyoming,1
1989,WY,0,0,0,0,0,0,0,Wyoming,0
1990,WY,0,0,0,0,0,0,0,Wyoming,0
1991,WY,0,0,0,0,0,0,0,Wyoming,0
1992,WY,0,0,0,0,0,0,0,Wyoming,0
1993,WY,0,0,0,0,0,0,0,Wyoming,0
1994,WY,0,0,0,0,0,0,0,Wyoming,0
1995,WY,0,0,0,0,0,0,0,Wyoming,0
1996,WY,0,0,0,0,0,0,0,Wyoming,0
1997,WY,0,0,0,0,0,0,0,Wyoming,0
1998,WY,0,0,0,0,0,0,0,Wyoming,0
1999,WY,0,0,0,0,0,0,0,Wyoming,0
2000,WY,0,0,0,0,0,1,0,Wyoming,1
2001,WY,0,0,0,0,0,0,0,Wyoming,0
2002,WY,1,0,0,0,0,0,0,Wyoming,1
2003,WY,0,0,0,0,0,0,0,Wyoming,0
2004,WY,0,0,0,0,0,0,0,Wyoming,0
2005,WY,0,0,0,0,0,0,0,Wyoming,0
2006,WY,1,0,0,0,0,1,0,Wyoming,2
2007,WY,1,0,0,0,0,0,0,Wyoming,1
2008,WY,0,0,0,1,0,0,0,Wyoming,1
2009,WY,0,0,0,0,0,0,0,Wyoming,0
2010,WY,0,0,0,0,0,0,0,Wyoming,0
2011,WY,0,0,0,1,0,0,0,Wyoming,1
2012,WY,1,0,0,0,0,1,0,Wyoming,2
2013,WY,1,0,0,0,0,0,0,Wyoming,1
2014,WY,0,0,0,1,0,0,0,Wyoming,1
2015,WY,0,0,0,0,0,1,0,Wyoming,1
2016,WY,0,0,0,1,0,1,0,Wyoming,2
2017,WY,0,0,0,0,0,0,0,Wyoming,0

In [40]:
events.head()

,year,State Name,state,drought,flooding,freeze,severe storm,tropical cyclone,wildfire,winter storm,event_count
0,1980,Alaska,AK,0,0,0,0,0,0,0,0
1,1981,Alaska,AK,0,0,0,0,0,0,0,0
2,1982,Alaska,AK,0,0,0,0,0,0,0,0
3,1983,Alaska,AK,0,0,0,0,0,0,0,0
4,1984,Alaska,AK,0,0,0,0,0,0,0,0

In [44]:
t=events.groupby(['State Name','state']).agg({'event_count':'sum'})

In [45]:
t.head()

                  event_count
State Name state
Alabama    AL              65
Alaska     AK               6
Arizona    AZ              21
Arkansas   AR              56
California CA              32

In [46]:
t.to_csv('C:\\Users\\aksha\\Desktop\\dash\\eventcount.csv')